/* You can add global styles to this file, and also import other style files */
:root
{
	--header-bg: #263238;
	--header-height: 55px;
}

body
{
	font-family: Helvetica,Roboto,sans-serif;
}

button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: transparent;
    text-decoration: none;
    border-radius: 2px;
    background-color: #45a6ff;
    color: white;
}

header
{
    height: var( --header-height );
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	position: sticky; 
	top: 0;
    justify-content: flex-start;
	color: white;
    align-content: stretch;
    align-items: flex-start;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-color: #263238;
}


@media screen 
{
	body{
		margin: 0;
	}
}

header>div
{
    justify-content: space-between;
    display: flex;
    align-items: center;
	width: 100%;
	height: 100%;
}

.w-100
{
	width: 100%;
	box-sizing: border-box;
}

.h-100
{
	height: 100%;
}
